<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
	  <section name="FreeAgentApiCaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</sectionGroup>
  </configSections>
  <applicationSettings>
	<FreeAgentApiCaller.Properties.Settings>
	  <setting name="FaUsername" serializeAs="String">
		<value>usernamefor@freeagent.account</value>
	  </setting>
	  <setting name="FaPassword" serializeAs="String">
		<value>passwordforfreeagentaccount</value>
	  </setting>
	  <setting name="FaClientId" serializeAs="String">
		<value>freeAgentClientIdFromFreeAgentSite</value>
	  </setting>
	  <setting name="FaClientSecret" serializeAs="String">
		<value>freeAgentSecretFromFreeAgentSite</value>
	  </setting>
	  <setting name="FaRefreshToken" serializeAs="String">
		<value>oAuthRefreshTokenFromOAuthPlayground</value>
	  </setting>
	</FreeAgentApiCaller.Properties.Settings>
  </applicationSettings>
</configuration>